<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrique Download</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">  
</head>
<body>
    <main>
        <img src="assets/favicon.png" alt="enrique">
        <h1>Welcome to Enrique Download</h1>
        <form>
            <div class="youtubeId ctn">
                <label for="ytb">Enter the video id here</label>
                <input type="text" name="ytb" id="ytb" placeholder="IW8Okk5SsrE">
            </div>
            <button id="dl">Download</button>
        </form>
    </main>
    <script src="index.js"></script>
</body>
</html>